exam_materials/00_scans/*
exam_materials/01_text/*
exam_materials/02_tickets/*
exam_materials/03_final/*
exam_materials/README.md
exam_materials/progress.xlsx
!exam_materials/.gitkeep

__pycache__/
.pytest_cache/
.venv/
.env
.DS_Store
*.log
